# Ignore node_modules
node_modules/

# Ignore compiled TypeScript files
dist/

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore environment variables
.env

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*